@font-face {
  font-family: "OswaldMedium";
  src: local("OswaldMedium"),
   url("./font/Oswald-Medium.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  background-color: #00000029!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-face-om {
  font-family: "OswaldMedium";
 }
.main-container{
  width: 535px;
  height: calc(100vh - 50px);
  background: #1F1F1F 0% 0% no-repeat padding-box;
  box-shadow: 3px 7px 6px #0000002E;
}
.header{
  padding: 30px;
  background: #393939 0% 0% no-repeat padding-box;
  border-radius: 10px 0px 0px 0px;
}
.border-none{
  border: none!important;
}
.font-28{
  font-size: 28px!important;
  font-weight: bold!important;
}
.font-18{
  font-size: 18px!important;
  font-weight: bold!important;
}
.font-13{
  font-size:13px!important;
}
.font-30{
  font-size:30px!important;
}
.point-block{
  padding-top:25px;
  background: transparent linear-gradient(89deg, #6D47D5 0%, #593CA8 100%) 0% 0% no-repeat padding-box;
  width: 119px!important;
}
.footer{
  padding: 30px 10px 30px 30px;
  background: #393939 0% 0% no-repeat padding-box;
  border-radius: 10px 0px 0px 0px;
}

