@font-face {
  font-family: "OswaldMedium";
  src: local("OswaldMedium"),
   url("./font/Oswald-Medium.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  background-color: #00000029!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container{
  width: 535px;
  background: #1F1F1F 0% 0% no-repeat padding-box;
  box-shadow: 3px 7px 6px #0000002E;
}
.header{
  padding: 30px;
  background: #393939 0% 0% no-repeat padding-box;
  border-radius: 10px 0px 0px 0px;
}
.border-none{
  border: none!important;
}
.font-60{
  font-size: 60px!important;
}
.font-50{
  font-size: 50px!important;
}
.font-40{
  font-size: 40px!important;
}
.font-32{
  font-size:32px!important;
}
.font-30{
  font-size:30px!important;
}
.font-29{
  font-size:29px!important;
}
.font-28{
  font-size: 28px!important;
  font-weight: bold!important;
}
.font-26{
  font-size:26px!important;
}
.font-24{
  font-size:24px!important;
}
.font-22{
  font-size:22px!important;
}
.font-20{
  font-size:20px!important;
}
.font-18{
  font-size: 18px!important;
}
.font-13{
  font-size:13px!important;
}
.font-10{
  font-size:10px!important;
}

.font-face-om {
  font-family: "OswaldMedium";
 }
.point-block{
  padding-top:25px;
  background: transparent linear-gradient(89deg, #6D47D5 0%, #593CA8 100%) 0% 0% no-repeat padding-box;
  width: 119px!important;
}
.footer{
  padding: 30px 10px 30px 30px;
  background: #393939 0% 0% no-repeat padding-box;
  border-radius: 10px 0px 0px 0px;
}
.auth-block{
  width: 100px;
  height:120px;
  padding-top:25px;
  background: transparent linear-gradient(89deg, #6D47D5 0%, #593CA8 100%) 0% 0% no-repeat padding-box;
}
.auth-footer{
  padding-top:20px;
  padding-left:20px;
  width:90%;
  background: #393939 0% 0% no-repeat padding-box;
}
.content-container{
  width: 75%;
}
.container-85{
  width: 85%;
}
.main-button{
  padding: 20px 48px 20px 48px;
  background: #F9D85E 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.sub-button{
  padding: 20px 10px 20px 10px;
  width:100%;
  background: #F9D85E 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.version-text{
  padding: 3px 10px 0px 10px;
  border: solid 2px white;
  border-radius: 5px;
}
.dark-pad{
  background: #363636 0% 0% no-repeat padding-box!important;
  border-radius: 10px!important;
}
.card-pad{
  background: #484848 0% 0% no-repeat padding-box!important;
  border-radius: 10px 10px 10px 10px!important;
}
.small-text-color{
  color: #F4F4F4;
  opacity: 0.57;
}
.timer-pad{
  padding-top: 5px;
  background: #363636 0% 0% no-repeat padding-box;
  width: 80px;
  height: 80px;
}
.accordion-button{
  background: #363636 0% 0% no-repeat padding-box!important;
  color: white!important;
  font-family: "OswaldMedium";
  font-size: 18px!important;
  border-radius: 10px!important;
}
.modal-content{
  background: #272727 0% 0% no-repeat padding-box!important;
  box-shadow: 0px 3px 6px #00000029!important;
  border-radius: 20px!important;
  color: white!important;
}
.buy-modal{
  padding: 20px 35px 20px 35px!important;
  background: #6850EA 0% 0% no-repeat padding-box!important;
  border: 1px solid #3A2B8B!important;
  border-radius: 5px!important;
  font-size: 26px!important;
}
.fb-button{
  border: 0px solid!important;
  padding: 15px 20px 15px 20px!important;
  width:100%;
  background: transparent linear-gradient(90deg, #4363A7 0%, #345BAC 88%, #3357A5 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.fb-block{
  padding-top:30px;
  padding-left:30px;
  width:30%;
  background: #4363A7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.email-button{
  border: 0px solid!important;
  padding: 15px 20px 15px 20px!important;
  width:100%;
  background: transparent linear-gradient(90deg, #404040 0%, #393838 92%, #363636 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.email-block{
  padding-top:30px;
  padding-left:30px;
  width:30%;
  background: #404040 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
.policy-pad{
  border-top: 1px solid white;
}